body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  display: inline-block;
  float: left;
  width: 40px;
  height: 40px;
  margin: 10px 0px 0px 10px;
  border: 1px solid #43a3e6;
}
#user{
  margin: 10px 0px 0px 10px;
}
#pass{
  margin: 50px 0px 0px 10px;
}

#form {
  border: 1px solid #43a3e6;
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: left;
  width: 150px;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  margin: 15px 10px 0px 10px;
  width: 150px;
}
#form button{
  margin: 15px 10px 0px 70px;
}
#form input{
  // border: 1px solid #43a3e6;
  margin: 15px 10px 0px 70px;
}
#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  padding: 10px 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 120px;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

#mess{
  display: inline-block;
  margin: 20px 0px;
  // border: 1px solid #43a3e6;
}

// BOOTSTRAP
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}