<div id="home">
    <div id="notebook">
        <p>Welcome to
            {{title}}</p>
    </div>
    <div id="notebook">
        {{#if user}}
            <a href="/adventures/new">
                <img src="/images/map/12705555-vieille-carte-au-trésor.jpg" alt="">
            </a>
        {{else}}
            <img src="/images/map/12705555-vieille-carte-au-trésor.jpg" alt="">
        {{/if}}
    </div>
</div>