<div id="home">
    <div id="notebook">
        <p>Welcome to
            {{title}}</p>
    </div>
    <div id="notebook">
        {{#if user}}
            <a href="/adventures/new">
                <img src="https://res.cloudinary.com/aprez85/image/upload/v1533352513/future-adventures/12705555-vieille-carte-au-tre%CC%81sor.jpg" alt="">
            </a>
        {{else}}
            <img src="https://res.cloudinary.com/aprez85/image/upload/v1533352513/future-adventures/12705555-vieille-carte-au-tre%CC%81sor.jpg" alt="">
        {{/if}}
    </div>
</div>