<div id="newadventure">
    <br>
                    <form action="/adventures/new" method="post">
        <div class="nameAdv">
            <label for="">Adventure Name</label>
            <input name="name" type="text">
            <label for="">Date  </label>
            <input type="date" name="date" id="date">
        </div>

            <div class="textAdv">
                <textarea name="description">"Add a New Adventure ..." 
                </textarea>
            </div>
            <div class="textForm">
                    <button class="btn btn-primary" type="submit">[ + ]</button>
                </form>
            </div>

        </div>